## Python statistics essential training - 02_05_challenge

Standard imports

In [1]:
import numpy as np
import pandas as pd

import matplotlib
import matplotlib.pyplot as pp

%matplotlib inline

In [8]:
df = pd.read_csv('tb.csv')
df.head()

,country,year,m04,m514,m014,m1524,m2534,m3544,m4554,m5564,...,f04,f514,f014,f1524,f2534,f3544,f4554,f5564,f65,fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
test = pd.read_csv('final.csv')

In [71]:
# Melt the sex and 
df2 = df.melt(id_vars=['country', 'year'], var_name='sex_age', value_name='cases')

# separate sex and age column
df2['sex'] = df2.sex_age.str.slice(0,1)
df2['age'] = df2.sex_age.str.slice(1)

# age group rename
age_droup_dict = {'04':'0-4',
                  '514':'5-14',
                  '014':'0-14',
                  '1524':'15-24',
                  '2534':'25-34',
                  '3544':'35-44',
                  '4554':'4554',
                  '5564':'55-64',
                  '65':'65+',
                  'u':np.nan}

df2.age = df2.age.map(age_droup_dict)
df2 = df2.dropna(subset=['cases'])

# sort and order columns
df2.sort_values(by=['country','year','age','sex'])
df2 = df2[['country','year','age','sex','cases']]
df2.head()

   country  year  age sex  cases
15      AD  2005  0-4   m    0.0
16      AD  2006  0-4   m    0.0
18      AD  2008  0-4   m    0.0
42      AE  2006  0-4   m    0.0
43      AE  2007  0-4   m    0.0

In [70]:
test.head()

  country  year    age sex  cases
0      AD  1996  15-24   f    1.0
1      AD  1996  15-24   m    0.0
2      AD  1996  25-34   f    1.0
3      AD  1996  25-34   m    0.0
4      AD  1996  35-44   f    0.0